<!DOCTYPE html>
<html>
<head>
    <title>Christmas Treasure Hunt</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        /* Add some basic animations for transitions */
        .fade-in {
            animation: fadeIn 0.5s ease-in-out;
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        .slide-in-right {
            animation: slideInRight 0.5s ease-in-out;
        }

        @keyframes slideInRight {
            from { transform: translateX(100%); opacity: 0; }
            to { transform: translateX(0); opacity: 1; }
        }
    </style>

</head>
<body class="bg-gradient-to-r from-red-400 to-green-400">

<div id="app" class="container mx-auto p-8">

    <div v-show="currentLevel === 5" class="fade-in">
        <h2 class="text-2xl font-bold text-white text-center mb-4">Level 5: The Journey Begins</h2>
        <p class="text-white text-center mb-4">Pathways to Adventure</p>
        <p class="text-white text-center mb-4">
            Two gifts await, with secrets to share,<br>
            Guiding you forth on paths rare.<br>
            One streams melodies as you wander along,<br>
            The other carries essentials where you belong.<br>
            <br>
            Think of the journeys that take you afar,<br>
            With thoughts of new places beneath every star.<br>
            What single word unites these gifts so tight?<br>
            Dream of faraway places and the wondrous ______.<br>
        </p>

        <div class="container mx-auto">
            <div class="flex justify-center space-x-4">
                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img src="./images/present_4.png" alt="Image 1" class="w-auto h-auto">
                </div>
                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img src="./images/present_5.png" alt="Image 2" class="w-auto h-auto">
                </div>
                <!-- Add more images as needed -->
            </div>
        </div>
        <!--
        <div class="flex justify-center space-x-4">
            <img src="./images/present_1.jpg" alt="Present 1" @click="checkPresent(1)" class="w-40 h-40 cursor-pointer transform hover:scale-105 transition-transform duration-300">
            <img src="./images/present_2.jpg" alt="Present 2" @click="checkPresent(2)" class="w-40 h-40 cursor-pointer transform hover:scale-105 transition-transform duration-300">
            <img src="./images/present_3.jpg" alt="Present 3" @click="checkPresent(3)" class="w-40 h-40 cursor-pointer transform hover:scale-105 transition-transform duration-300">
        </div>
        -->
        <div class="container mx-auto">
            <input type="text" v-model="level5Answer" placeholder="Enter your answer" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <button @click="checkAnswerLevel5" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Submit</button>
            <div id="level1Feedback" class="text-white text-center mt-4">{{ level5Feedback }}</div>
        </div>
    </div>

    <div v-show="currentLevel === 6" class="fade-in">
        <h2 class="text-2xl font-bold text-white text-center mb-4">Level 6: A Hidden Adventure Awaits</h2>
        <p class="text-white text-center mb-4">
            Beneath the tree, where magic unfolds,<br>
            Seven surprises wrapped in stories untold.<br>
            Each little paper, a secret to find,<br>
            A letter to gather, a treasure combined.<br>
            <br>
            With invisible ink, the letters do hide,<br>
            Follow the clues with joy and with pride.<br>
            Piece them together, and soon you'll see,<br>
            The name of a place that's cozy as can be.<br>
            <br>
            A land of wonder where snowflakes fall,<br>
            Unravel the mystery, the answer is call.<br>
            So search high and low, let your heart expand,<br>
            Discover the magic of this snowy ______.<br>
        </p>
        <img src="./images/bor_2024.jpeg" alt="Envelope" class="w-96 h-96 mx-auto mb-4">
        <input type="text" v-model="level6Answer" placeholder="Enter your answer" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <button @click="checkAnswerLevel6" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Submit</button>
        <div id="level6Feedback" class="text-white text-center mt-4">{{ level6Feedback }}</div>
    </div>

    <div v-show="currentLevel === 'finish'" class="fade-in">
        <h2 class="text-2xl font-bold text-white text-center mb-4">Congratulations, Adventurer!</h2>
        <p class="text-white text-center mb-4">
            You've journeyed through riddles, puzzles, and clues,<br>
            Unlocking the secrets that were hidden from view.<br>
            From the magic of <b>snow</b> to the joys of the <b>candy shop</b>,<br>
            You have discovered treasures that never will stop.<br>
            <br>
            With the laughter of <b>Santa</b> and the spirit of <b>travel</b> in tow,<br>
            You've pieced together the wonders that glow!<br>
            Now, gather your thoughts and let your heart expand,<br>
            For all roads lead to a captivating land.<br>
            <br>
            When you combine the clues you've bravely explored,<br>
            It reveals the journey that you have all adored.<br>
            Pack your bags, for the adventure to <b>Rovaniemi</b> awaits,<br>
            Where the magic of Christmas and joy truly resonates.<br>
            <br>
            Get ready to meet Santa, in his wintery retreat,<br>
            In a land full of wonder, where dreams become sweet.<br>
            The journey is yours, and the magic is real,<br>
            Embrace the excitement, it is the ultimate thrill!<br>
        </p>
        <img src="./images/bor_2024.jpeg" alt="Envelope" class="w-96 h-96 mx-auto mb-4">
        <div class="container mx-auto">
            <div class="flex justify-center space-x-4">
                <div class="overflow-hidden rounded-lg shadow-lg">
                    <img src="./images/flight.png" alt="Image 1" class="w-auto h-auto">
                </div>
            </div>
            <div class="flex justify-center space-x-4">
                <div class="overflow-hidden rounded-lg shadow-lg">
                    <a class="text-white text-center mb-4" href="https://www.portablenorthpole.com/player?token=6x1jcaa5gex2p-7577383730307362"target="_blank">View short video for the end</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            currentLevel: 5,
            level5Answer: "",
            level5Feedback: "",
            level6Answer: "",
            level6Feedback: "",
        },
        methods: {
            checkAnswerLevel5() {
                let curr = this.level5Answer.toLowerCase();
                if (curr.includes("flight") || curr.includes("travel")) {
                    this.level5Feedback = "Fantastic! You've pieced together the final word. Let's move to the magical land of wonder!";
                    setTimeout(() => {
                        this.currentLevel = 6;
                        this.level5Feedback = "";
                        this.level5Answer = "";
                    }, 2500);
                } else {
                    this.level5Feedback = "Oops! This isn't quite right. Keep unwrapping those clues and try again!";
                }
            },
            checkAnswerLevel6() {
                let curr = this.level6Answer.toLowerCase();
                if (curr === "lapland") {
                    this.level6Feedback = "Great job! You've solved all the mysteries, you are a real detective. For that prepare to embark on the next adventure!";
                    setTimeout(() => {
                        this.currentLevel = "finish";
                        this.level6Feedback = "";
                        this.level6Answer = "";
                    }, 3500);
                } else {
                    this.level6Feedback = "Not quite! Keep searching. The letters are hidden beneath the tree. Look closely at the papers and see what they reveal!";
                }
            }
        }
    });
</script>
</body>
</html>